# NODE / EXPRESS (backend)

backend/node_modules/
backend/.env
backend/.DS_Store
backend/npm-debug.log
backend/.vscode/

# REACT (client)

client/node_modules/
client/build/
client/.DS_Store
client/.env
client/npm-debug.log
client/.vscode/
